#指定されたファイルが存在する場合はそのファイルを読み込み、存在しなければどんなURLでもすべて「index.php」にアクセスするように制御
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>